html,
body {
    background:
        /* gradient overlay */
        linear-gradient(rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85),
        ),
        /* bottom, image */
        url(images/bridge-2618635_1920.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.neon-body {
    text-shadow: 0 0 5px #fff,
        0 0 5px #fff,
        0 0 10px #c5cae9,
        0 0 15px #7986cb,
        0 0 20px #3f51b5,
        0 0 25px #3949ab,
        0 0 35px #3949ab;
    font-family: 'Roboto'
}

.blink {
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        text-shadow: 0 0 5px #fff,
            0 0 5px #fff,
            0 0 15px #c5cae9,
            0 0 25px #7986cb,
            0 0 30px #3f51b5,
            0 0 35px #3949ab,
            0 0 40px #3949ab;
    }

    70% {
        text-shadow: 0 0 5px #fff,
            0 0 5px #fff,
            0 0 5px #c5cae9,
            0 0 10px #7986cb,
            0 0 15px #3f51b5,
            0 0 20px #3949ab,
            0 0 25px #3949ab;
    }

    100% {
        text-shadow: 0 0 5px #fff,
            0 0 5px #fff,
            0 0 15px #c5cae9,
            0 0 25px #7986cb,
            0 0 30px #3f51b5,
            0 0 35px #3949ab,
            0 0 40px #3949ab
    }
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 500;
}

.h-70 {
    height: 70%;
}

.logo {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.lp-text {
    line-height: 1.5em
}